<h1><%= t('admin.post_categories.edit', title: @post_category.title) %></h1>

<%= render 'form' %>

<%= link_to 'Show', admin_post_category_path(@post_category) %> |
<%= link_to 'Back', admin_post_categories_path %>
